<template>
  <transition appear name="fade">
    <div
      v-if="!!error && open"
      class="
        p-4
        flex
        rounded-md
        bg-red-400
        text-white
        overflow-hidden
        items-center
      "
    >
      <p class="flex-1 mr-2">{{ error }}</p>
      <button
        class="
          bg-white bg-opacity-0
          hover:bg-opacity-30
          transition-colors
          duration-300
          px-2
          py-1
          rounded-sm
        "
        @click="close"
      >
        OK
      </button>
    </div>
  </transition>
</template>

<script>
export default {
  data: () => ({
    error: '',
    open: false,
  }),
  created() {
    switch (this.$route.query['redirected-by']) {
      case 'not-authenticated':
        this.error = 'Sign up or sign in to continue'
        break
      default:
    }
  },
  mounted() {
    this.open = true
  },
  methods: {
    close() {
      this.open = false
    },
  },
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
