<template>
  <transition-group
    v-if="!disabled"
    appear
    name="flip-list list"
    class="mt-2"
    tag="ul"
  >
    <li
      v-for="error in errorList"
      :key="error"
      class="ml-6 list-disc text-red-500"
      :class="{ 'text-green-600': valid }"
    >
      {{ error }}
    </li>
  </transition-group>
</template>

<script>
export default {
  props: {
    disabled: { type: Boolean, default: true },
    errors: {
      type: Array,
      default: () => [],
    },
    valid: { type: Boolean, default: false },
  },
  computed: {
    errorList() {
      if (this.valid) return ['Looks good!']
      return this.errors
    },
  },
}
</script>

<style scoped>
.flip-list-move {
  transition: transform 1s;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}

.list-enter {
  opacity: 0;
  transform: translateY(-16px);
}

.list-leave-to {
  opacity: 0;
  transform: translateY(16px);
}
</style>
