<template>
  <transition name="fade">
    <div
      v-if="errors.length > 0"
      class="
        rounded-md
        bg-red-400
        p-4
        text-white
        overflow-hidden
        flex
        items-center
      "
    >
      <transition-group appear name="flip-list list" tag="ul" class="flex-1">
        <li v-for="error in errors" :key="error" class="ml-6 list-disc">
          {{ error }}
        </li>
      </transition-group>
      <button
        class="
          bg-white bg-opacity-0
          hover:bg-opacity-30
          transition-colors
          duration-300
          px-2
          py-1
          rounded-sm
        "
        @click="handleClose"
      >
        OK
      </button>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    errors: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    handleClose(evt) {
      evt.preventDefault()
      this.$emit('close-submit-error')
    },
  },
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.flip-list-move {
  transition: transform 1s;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}

.list-enter {
  opacity: 0;
  transform: translateY(-16px);
}

.list-leave-to {
  opacity: 0;
  transform: translateY(16px);
}
</style>
