<template>
  <div
    class="
      relative
      p-4
      md:p-6
      bg-white
      rounded-lg
      shadow-md
      transition-all
      duration-500
      flex flex-col
      justify-center
    "
  >
    <div
      v-if="error"
      class="
        absolute
        mt-4
        self-center
        rounded-md
        shadow-md
        margin-auto
        bg-red-400
        text-white
        p-4
        md:w-1/2
        z-10
      "
    >
      <h2 class="text-xl font-medium mb-2">Error</h2>
      {{ error }}
    </div>

    <h2 class="font-semibold text-2xl">Profile</h2>
    <div
      class="flex flex-col md:flex-row items-center"
      :class="{ blurred: loading || !!error }"
    >
      <img
        class="rounded-full w-64 h-64 object-fill object-bottom shadow-md mb-4"
        :src="avatar"
      />
      <div class="hidden md:block w-1 mx-4 bg-gray-200 shadow-md h-32" />
      <div class="flex flex-col w-full">
        <div class="info-section">
          <p class="info-label">Email</p>
          <p class="info-data">{{ getEmail }}</p>
        </div>
        <div class="info-section">
          <p class="info-label">Username</p>
          <p class="info-data">{{ username }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    loading: true,
    error: undefined,
    email: '',
    username: '',
  }),
  computed: {
    avatar() {
      return `https://robohash.org/hash-${this.email + this.username}`
    },
    getEmail() {
      return this.email || 'random@random.com'
    },
    getUsername() {
      return this.username || 'randomusername'
    },
  },
  beforeCreate() {
    const userId = Number(this.$route.params.id)
    if (isNaN(userId)) this.$router.push('/')
  },
  created() {
    this.getUserData()
  },
  methods: {
    async getUserData() {
      const userId = Number(this.$route.params.id)
      const token = this.$store.state.auth.token

      if (!token) this.$router.push(`/sign-up?redirected-by=not-authenticated`)
      const headers = { authorization: `Bearer ${token}` }

      try {
        const { data } = await this.$axios.get(
          `${process.env.API_URL}/600/users/${userId}`,
          {
            headers,
          }
        )
        this.email = data.email || ''
        this.username = data.username || ''
      } catch (err) {
        switch (err.response?.status) {
          case 401:
            // this.$router.push('/sign-up')
            this.error = "You're not authenticated."
            break
          case 403:
          case 404:
            this.error =
              "The requested profile does not exist or you're not allowed to see it, try again."
            break
          default:
            this.error = 'An unknown error has occurred, try again later.'
        }
      } finally {
        this.loading = false
      }
    },
  },
}
</script>

<style scoped>
.blurred {
  filter: blur(8px);
}

.info-section {
  @apply my-2;
}

.info-label {
  @apply uppercase text-sm text-gray-600 font-semibold;
}

.info-data {
  width: 180px;
}
</style>
