<template>
  <div
    class="
      flex flex-col
      lg:flex-row
      items-stretch
      bg-gradient-to-r
      from-green-400
      to-blue-500
      min-h-screen
      justify-between
    "
  >
    <div class="flex p-8 lg:p-0 lg:flex-1 items-center justify-center">
      <span class="text-4xl text-white font-bold">Pingr</span>
    </div>
    <Nuxt />
  </div>
</template>
