<template>
  <div class="min-h-screen bg-gradient-to-r from-green-400 to-blue-500">
    <nav
      class="
        absolute
        px-4
        h-16
        flex
        items-center
        bg-white bg-opacity-80
        shadow-b-lg
        w-full
      "
    >
      <h1 class="text-4xl text-gray-800 font-bold">Pingr</h1>
      <div class="flex-1" />
      <div class="flex">
        <NuxtLink v-if="!isAuthenticated" class="link" to="/sign-up"
          >Sign up</NuxtLink
        >
        <NuxtLink v-if="!isAuthenticated" class="link" to="/sign-in"
          >Sign in</NuxtLink
        >
        <a v-if="isAuthenticated" class="link cursor-pointer" @click="signout"
          >Sign out</a
        >
      </div>
    </nav>
    <div class="h-16" />
    <div class="flex justify-center items-center default-container">
      <Nuxt />
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    isAuthenticated() {
      return !!this.$store.state.auth.token
    },
  },
  methods: {
    signout(evt) {
      evt.preventDefault()
      this.$store.commit('auth/logout')
      this.$router.push('/sign-in')
    },
  },
}
</script>

<style scoped>
.default-container {
  min-height: calc(100vh - 4rem);
}

.link {
  @apply mx-1 font-semibold uppercase;

  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

.link:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}
</style>
