<template>
  <div
    class="
      md:order-first
      flex-1
      bg-white bg-opacity-70
      shadow-lg
      flex flex-col
      md:justify-center
      items-center
      relative
    "
  >
    <div class="p-4 lg:p-12 card">
      <h2 class="text-center font-semibold text-3xl lg:text-4xl text-gray-800">
        Sign up to Pingr
      </h2>
      <form class="pt-4" @submit="signup">
        <label for="email">E-mail</label>
        <input
          id="email"
          v-model="form.email"
          type="email"
          name="email"
          placeholder="Your e-mail address"
          autocomplete="email"
          required
          :disabled="submitting"
        />
        <input-errors
          :valid="formValid.email"
          :disabled="formEmpty.email && !touched.email"
          :errors="formErrors.email"
        />

        <label for="password">Password</label>
        <input
          id="password"
          v-model="form.password"
          type="password"
          name="password"
          placeholder="********"
          autocomplete="current-password"
          required
          :disabled="submitting"
        />
        <input-errors
          :valid="formValid.password"
          :disabled="formEmpty.password && !touched.password"
          :errors="formErrors.password"
        />

        <label for="username">Username</label>
        <input
          id="username"
          v-model="form.username"
          type="username"
          name="username"
          placeholder="Your preferred username"
          autocomplete="username"
          required
          :disabled="submitting"
        />
        <input-errors
          :valid="formValid.username"
          :disabled="formEmpty.username && !touched.username"
          :errors="formErrors.username"
        />

        <submit-error
          class="mt-4"
          :errors="submitErrors"
          @close-submit-error="handleCloseSubmitError"
        />

        <div class="flex w-full justify-between">
          <button
            type="reset"
            class="
              bg-gradient-to-r
              from-yellow-500
              to-red-500
              hover:from-yellow-600 hover:to-red-600
            "
            @click="clear"
          >
            Clear
          </button>
          <button
            type="submit"
            class="
              bg-gradient-to-r
              from-green-400
              to-blue-500
              hover:from-green-500 hover:to-blue-600
            "
          >
            Sign up
          </button>
        </div>
      </form>
      <div class="flex mt-8 sm:mb-4 text-sm">
        <span>
          If you're already registered,
          <a href="sign-in" class="flex-2 text-blue-600">sign in.</a>
        </span>
      </div>
    </div>
    <auth-redirect-error class="absolute bottom-4 md:bottom-16" />
  </div>
</template>

<script>
import { auth } from '~/lib/auth'

export default {
  layout: 'auth',
  data: () => ({
    form: { email: '', username: '', password: '' },
    touched: { email: false, username: false, password: false },
    submitErrors: [],
    submitting: false,
  }),
  computed: {
    formErrors() {
      return {
        email: this.validateEmail(this.form.email),
        username: this.validateUsername(this.form.username),
        password: this.validatePassword(this.form.password),
      }
    },
    formEmpty() {
      return {
        email: this.form.email === '',
        password: this.form.password === '',
        username: this.form.username === '',
      }
    },
    formValid() {
      return {
        email: this.formErrors.email.length === 0,
        password: this.formErrors.password.length === 0,
        username: this.formErrors.username.length === 0,
      }
    },
    isFormValid() {
      return Object.values(this.formErrors).flat().length === 0
    },
  },
  watch: {
    'form.email'(val) {
      this.touched.email = true
    },
    'form.password'(val) {
      this.touched.password = true
    },
    'form.username'(val) {
      this.touched.username = true
    },
  },
  methods: {
    clear() {
      this.form = { email: '', username: '', password: '' }
    },
    validateEmail(email) {
      const errors = []

      const re =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

      if (!re.test(String(email).toLowerCase()))
        errors.push('Please input a valid email.')
      return errors
    },
    validatePassword(password) {
      const errors = []
      if (password.length < 8 || password.length > 32)
        errors.push(
          'The password should contain between 8 and 32 characters (inclusive).'
        )
      if (!/^[a-zA-Z]*$/.test(password)) {
        errors.push(
          'The password should have only uppercase ou lowercase letters.'
        )
      }

      return errors
    },
    validateUsername(username) {
      const errors = []

      if (username === '') errors.push('Your username cannot be empty')
      if (!/^[a-zA-Z0-9]*$/.test(String(username)))
        errors.push('Your username should be alphanumeric.')
      if (/^[0-9]+$/.test(String(username).slice(0, 1)))
        errors.push('Your username cannot start with a number.')

      return errors
    },
    async signup(evt) {
      this.submitErrors = []
      evt.preventDefault()

      if (!this.isFormValid) return
      try {
        this.submitting = true
        const response = await auth.register(this.form)
        const { accessToken } = response.data
        this.$store.commit('auth/login', accessToken)
        try {
          this.navigateToNewProfile(accessToken)
        } catch {
          this.submitErrors.push(
            "Sorry, your profile was registered successfully, but we couldn't redirect you to it's page, try doing it manually."
          )
        }
      } catch ({ response }) {
        switch (response?.status) {
          case 400:
            this.submitErrors.push(
              `This email ('${this.form.email}') is already registered.`
            )
            break
          default:
            this.submitErrors.push(
              'An unknown error occurred, try again later.'
            )
        }
      } finally {
        this.submitting = false
      }
    },
    navigateToNewProfile(token) {
      const id = JSON.parse(atob(token.split('.')[1])).sub
      this.$router.push(`/users/${id}`)
    },
    handleCloseSubmitError() {
      this.submitErrors = []
    },
  },
}
</script>

<style scoped>
.card {
  width: 100%;
  max-width: 640px;
}

button {
  @apply px-4 py-2 mt-4 rounded-md font-medium text-white
          uppercase focus:outline-none hover:shadow-none
          transition-colors duration-300;
}

label {
  @apply block mt-2 text-xs font-semibold text-gray-600 uppercase;
}

input {
  @apply rounded-md block w-full py-2 px-4 mt-2 text-gray-800 shadow-sm
          appearance-none border-b-2 border-gray-100 focus:text-gray-500
          focus:outline-none focus:border-gray-200 transition-colors duration-300;
}

a {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

a:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}
</style>
